/* Header of the webpage that will show up on every site */
.pageHeader {
  width: 100%;
  height: 10vh;
  background-color: #333;
  color: #fcfcfc;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Add this to push content below header */
body {
  margin: 0;
  padding-top: 10vh;
  box-sizing: border-box;
}

/* Force the bucher logo to fit within the header*/
.headerLogo {
    height: 100%;
    width: auto;
    object-fit: cover;
    padding: 5px
}

.navigator {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator a {
  color: #fcfcfc;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  padding: 8px 16px; /* Add padding to make the clickable area bigger */
  outline-color: #fcfcfc33;
  outline-style: solid;
}

.navigator a:hover {
  background-color: #b9b3b333;
  outline-color: #fcfcfc;
}

